
@font-face {
	font-family: Marvel;
	font-style: normal;
  font-weight: 400;
	src: url("Marvel-Regular.ttf")
}


html {
	letter-spacing: 0.1em;
	font-size: 1em;
	font-family: 'Marvel', 'Courier New', monospace;

	height: 100%;
	overflow-y: scroll;
}

body {
	text-align: center;
	margin: 0px;
	height: 100%;
}

.red {
	color: #ff385a;
}

.dot {
	/*
width: 0.55em;
	height: 0.55em;
	-moz-border-radius: 0.55em;
	border-radius: 0.55em;
*/
	width: 8px;
	height: 8px;
	border-radius: 8px;
	display: inline-block;
}

.hardware {
	background-color: #62ffa5;
}

.software {
	background-color: #ff9b40;
}

.visual {
	background-color: #4a71ff;
}

.audio {
	background-color: #e473ff;
}

.info {	
	background-color: #2f2f2f;
}

#container {
	padding: 0px 50px;
	max-width: 640px;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}

#items {
	max-width: 800px;
	margin: 0 auto;
	white-space: normal;

}

a {
	color: #111;
	cursor: pointer;
	text-decoration: none;
	
}

a:hover {
}

table.item {
	line-height: 1em;
	text-align: center;
	margin: 0 auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 10px;

}

div.item {
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;   
	font-size: 1em;
	zoom: 1;
	color: #333;
/* 	*display: inline; */
}


/*
#cats h3 {
	margin: 0px;
	font-size: 1em;
	font-weight: bold;
}
*/

#keyboard {
	padding: 20px 0px 40px 0px;
}

#cats, #tags {
/* 	margin-top: 0.5em; */
	white-space: normal;
}

#tags h3, #cats h3 {
/* 	margin-top: 0.5em; */
	margin: 0.4em;
	font-size: 1em;
	font-weight: bold;
	color: #111;
}

div.tag_item {
	white-space: nowrap;
	display: inline-block;
	margin: 0.2em 0.4em;
	padding: 0.2em 0.4em;
	font-size: 0.9em;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}



.span {
	white-space: nowrap;
}

.cat_item {
	display: inline-block;
	white-space: normal;
	padding: 5px 10px;
	margin: 1px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;   
}

div.cat_item p {
	font-size: 0.95em;
	margin: 0px 5px;
	display: inline-block;
}

.dark {
	color: white;
	background-color: #686868;
}

.light {
	background-color: #c9c9c9;
	color: white;  	
}

footer {
	position: fixed;
	color: #9b9b9b;
	font-size: 0.8em;
	text-align: center;
	bottom: 1%;
	width: 100%;
}

p.instructions {
	font-size: 0.85em;
}

#prompt_container {
	font-weight: bold;
	width: 70%;
/* 	max-width: 320px; */
	white-space: nowrap;
	margin: 0 auto;
	display: inline;
/* 	height: 20px; */
	
}

#prompt_info {
	font-style: normal;
	font-weight: normal;
	display: inherit;
	-moz-border-radius:7px;
	border-radius: 7px;
	padding: 2px 4px;
	font-size: 0.75em;
	color: #000;
	background: #fffe7b;
	cursor: pointer;
	/* 	bottom: 50%; */
}

input {
	border: none;
	outline: none;
	width: inherit;
	margin-left: 5px;
	width: inherit;
	max-width: 300px;
}

.command_line {
	font-weight: bold;
	font-family: "Courier New", Courier, Monaco, monospace;
	font-size: 0.8em;
}

span.command_line {
	font-size: 0.9em;
}

#command_result {
	width: 350px;
	margin: 0 auto;
	text-align: left;
}

#page {
	margin: 30px 0px;
	width: inherit;
}

#page * {
	text-align: left;
}

#page h1 {
	font-size: 1.8em;
	margin: 10px 0px;
	color: #222;
	text-align: center;
}

#page h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	color: #333;
	text-align: center;
}

#page p {
	margin: 10px 0px;
	font-size: 0.95em;
}

article {
	padding-bottom: 20px;
	border-color: #999;
	border-style: dotted;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin: 50px 0px;
	width: 100%;
}

img.fit {
	width: 640px;
}
