html {
	letter-spacing: 0.1em;
	font-size: 0.9em;
	font-family: "Courier New", Courier, monospace;
/* 	white-space: nowrap; */
	height: 100%;

}

body {
/* 	margin: 50px; */
	text-align: center;
/* 	background-color: #333; */
	margin: 0px;
	height: 100%;

}

.red {
	color: #ff385a;
}

.dot {
	width: 0.5em;
	height: 0.5em;
	border-radius: 0.5em;
	display: inline-block;
}

.hardware {
	background-color: #62ffa5;
}

.software {
	background-color: #ff9b40;
}

.visual {
	background-color: #4a71ff;
}

.audio {
	background-color: #e473ff;
}

.info {	
	background-color: #2f2f2f;
}

#container {
	padding: 0px 50px;
	max-width: 640px;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
}

#items {
/* 	background: gray; */
	max-width: 800px;
	margin: 0 auto;
/* 	text-align: center; */
	white-space: normal;
	
}

table {
}

.table_row {
	width: 100%;
}


table.item {

	line-height: 1em;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 5px 10px;
}

div.item {
	display: inline-block;
	white-space: nowrap;
/* 	border-radius: 10px; */
/* 	margin: 10px 20px; */
	cursor: pointer;   
	font-size: 1em                 
}




h3 {
	margin: 0px;
	font-size: 1em;
}

#keyboard {
	padding: 40px 0px;
}

#cats, #tags {
	margin-top: 0.5em;
	white-space: normal;
/*
	background: #eee;
	max-width: 600px;
	margin: 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0 auto;
	padding: 5px;
*/
}

#tags h3 {
	font-size: 0.8em;
	margin: 1em;
}

div.tag_item {
	white-space: nowrap;
	display: inline-block;
	margin: 0.2em 0.5em;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
/* 	background-color: #efefef; */
	border-radius: 5px;
/* 	color: #111; */
	cursor: pointer;
}

/*
.tag_item {
	text-overflow: ellipsis;
	display: inline;
/* 	white-space: nowrap; */
}
*/

.span {
	white-space: nowrap;
}

.cat_item {
	display: inline-block;
	white-space: normal;
	padding: 5px 10px;
	margin: 1px;
	border-radius: 5px;
	cursor: pointer;   
}

div.cat_item p {
	font-size: 0.8em;
	margin: 0px 5px;
	display: inline-block;
}

.light {
	background-color: #e7e7e7;
}

.dark {
	background-color: #888;
	color: white;  	
}

footer {
	position: fixed;
	color: #9b9b9b;
	font-size: 0.8em;
	text-align: center;
	bottom: 1%;
	width: 100%;
}

p.instructions {
	font-size: 0.75em;
}

#prompt_container {
	font-weight: bold;
	width: 70%;
/* 	max-width: 320px; */
	white-space: nowrap;
	margin: 0 auto;
	display: inline;
/* 	height: 20px; */
	
}

#prompt_info {
	font-style: normal;
	font-weight: normal;
	display: inherit;
	border-radius: 7px;
	padding: 2px;
	font-size: 0.75em;
	color: #000;
	background: #fffe7b;
	cursor: pointer;
	/* 	bottom: 50%; */
}

input {
	border: none;
	outline: none;
	width: inherit;
	margin-left: 5px;
	width: inherit;
	max-width: 300px;
}

.command_line {
	font-weight: bold;
	font-family: "Courier New", Courier, Monaco, monospace;
	font-size: 0.8em;
}

span.command_line {
	font-size: 0.9em;
}

#command_result {
	width: 350px;
	margin: 0 auto;
	text-align: left;
}

#page {
/*
	border-color: #4f4f4f;
	border-style: dotted;
	border-left-width: 1px;
	border-bottom-width: 0px;
	border-right-width: 1px;
	border-top-width: 0px;
*/
	margin: 30px 0px;
	width: inherit;
}

#page * {
	text-align: left;
}

#page h1 {
	font-size: 1.8em;
	margin: 10px 0px;
	color: #222;
	text-align: center;
}

#page h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 0px;
	color: #333;
	text-align: center;
}

#page p {
	margin: 10px 0px;
	font-size: 0.9em;
}

article {
	padding-bottom: 20px;
	border-color: #999;
	border-style: dotted;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-top-width: 0px;
	margin: 50px 0px;
}
